In [43]:
import pandas as pd
pd.options.display.max_columns = 99
import numpy as np

##### Explore the dataset  
1. Download the accepted loan data from https://www.lendingclub.com/info/download-data.action
2. Read in the first 5 rows to get an idea of how the table is formatted

In [2]:
approved_loans = pd.read_csv("LoanStats3a.csv", nrows=5)

In [3]:
approved_loans.head(2)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc                                               purpose     title    zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt     total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       5000      5000        4975             36 months  10.65%  162.87      B     B2        NaN       10+ years  RENT           24000      Verified            Dec-2011 Fully Paid  n          NaN   Borrower added on 12/22/11 > I need to upgrad... credit_card Computer 860xx    AZ         27.65 0           Jan-1985         1              NaN                    NaN                    3        0       13648     83.7%      9         f                   0.00      0.00          5863.1551866952 5833.84         5000.00         863.16        0.0                0.0        0.0                     Jan-2015     171.62          NaN          May-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              NaN          NaN         NaN         NaN         NaN         NaN         NaN                NaN          NaN     NaN         NaN         NaN        NaN      NaN              NaN    NaN         NaN          NaN                  NaN         NaN            NaN     0                        0           NaN                NaN                  NaN                   NaN            NaN      NaN                  NaN                      NaN                   NaN                            NaN                   NaN            NaN             NaN         NaN       NaN       NaN           NaN           NaN                 NaN      NaN              NaN          NaN                NaN                NaN            NaN              0                    0         NaN             NaN               NaN            NaN                        NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

It looks like the header row isn't being read in correctly. Add the nrows argument to pd.read_csv

In [4]:
approved_loans = pd.read_csv("LoanStats3a.csv", nrows=5, header=1)

In [5]:
approved_loans.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000,5000,4975,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000,Verified,Dec-2011,Fully Paid,n,NaN,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-1985,1,NaN,NaN,3,0,13648,83.7%,9,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.0,0.0,0.00,Jan-2015,171.62,NaN,May-2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500,2500,2500,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000,Source Verified,Dec-2011,Charged Off,n,NaN,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-1999,5,NaN,NaN,3,0,1687,9.4%,4,f,0.0,0.0,1014.530000,1014.53,456.46,435.17,0.0,122.9,1.11,Apr-2013,119.66,NaN,Oct-2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

That looks better. Dataquest removed the desc column (to make their system run more quickly), so I'll do this as well for the sake of matching their outputs.

In [6]:
columns = approved_loans.columns.tolist()

In [7]:
columns.remove('desc')

In [8]:
approved_loans = pd.read_csv("LoanStats3a.csv", nrows=5, header=1, usecols=columns)

In [9]:
approved_loans.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000,5000,4975,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000,Verified,Dec-2011,Fully Paid,n,NaN,credit_card,Computer,860xx,AZ,27.65,0,Jan-1985,1,NaN,NaN,3,0,13648,83.7%,9,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.0,0.0,0.00,Jan-2015,171.62,NaN,May-2019,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500,2500,2500,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000,Source Verified,Dec-2011,Charged Off,n,NaN,car,bike,309xx,GA,1.00,0,Apr-1999,5,NaN,NaN,3,0,1687,9.4%,4,f,0.0,0.0,1014.530000,1014.53,456.46,435.17,0.0,122.9,1.11,Apr-2013,119.66,NaN,Oct-2016,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

##### Calculate Memory Usage  
1. Read in the first 1000 rows ro the data set 
2. Calculate the total memorysage for these rows  
3. Increse or decrease the umerof rows to converge on a memory ussage under five megabytes

In [10]:
approved_loans = pd.read_csv("LoanStats3a.csv", nrows=1000, header=1, usecols=columns)
Mb_1000_row = approved_loans.memory_usage(deep=True).sum()/(2**20)
print(Mb_1000_row)

2.4058313369750977

Interesting..when I run the same thing in the dq UI, I only gte 1.55 Mb. Is seems they have removed many more columns than just the desc column. I'll read in the data again and keep only the columns dq uses for the sake of matching their output.

In [11]:
dq_columns = ['id','member_id','loan_amnt','funded_amnt','funded_amnt_inv','term','int_rate','installment','grade',
 'sub_grade','emp_title','emp_length','home_ownership','annual_inc','verification_status','issue_d',
 'loan_status','pymnt_plan','purpose','title','zip_code','addr_state','dti','delinq_2yrs','earliest_cr_line','inq_last_6mths',
 'open_acc','pub_rec','revol_bal','revol_util','total_acc','initial_list_status','out_prncp','out_prncp_inv',
 'total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries',
 'collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','last_credit_pull_d','collections_12_mths_ex_med',
 'policy_code','application_type','acc_now_delinq','chargeoff_within_12_mths','delinq_amnt','pub_rec_bankruptcies','tax_liens']

In [12]:
approved_loans = pd.read_csv("LoanStats3a.csv", nrows=1000, header=1, usecols=dq_columns)
Mb_1000_row = approved_loans.memory_usage(deep=True).sum()/(2**20)
print(Mb_1000_row)

1.5389528274536133

That's a lot closer, though there still seem to be some small differences. Now I'll scale the number of rows to just under 5 Mb.

In [13]:
rows_under_5Mb = int(4.9*(1000/Mb_1000_row))

In [14]:
approved_loans = pd.read_csv("LoanStats3a.csv", nrows=rows_under_5Mb, header=1, usecols=dq_columns)
Mb_updated = approved_loans.memory_usage(deep=True).sum()/(2**20)
print(Mb_updated)

4.89691162109375

#### Column Investigation
##### Investigate columns to determine which can be optimized  
1. How many columns have a numeric type?  
2. How many columns have a string type?  
3. How many unique values are there in each string column?  
4. How many of the string columns contain values that are less than 50% unique?  
5. Which float columns have no missing values and could be candidates for conversion to integer type?

In [15]:
chunk_iter = pd.read_csv("LoanStats3a.csv", chunksize=rows_under_5Mb, header=1, usecols=dq_columns)
column_datatypes = {}
chunk_number = 1
for chunk in chunk_iter:
    data_types = chunk.dtypes
    grouped = data_types.groupby(data_types)
    key = 'chunk ' + str(chunk_number)
    column_datatypes[key] = grouped.size()
    chunk_number += 1
pd.DataFrame(column_datatypes)

,chunk 1,chunk 2,chunk 3,chunk 4,chunk 5,chunk 6,chunk 7,chunk 8,chunk 9,chunk 10,chunk 11,chunk 12,chunk 13,chunk 14
int64,15,15,15,15,15,15,15,15,15,15,15,14,NaN,NaN
float64,16,16,16,16,16,16,16,16,16,16,16,17,30.0,30.0
object,21,21,21,21,21,21,21,21,21,21,21,21,22.0,22.0

In [16]:
# Are string columns consistent across chunks?
chunk_iter = pd.read_csv("LoanStats3a.csv", chunksize=rows_under_5Mb, header=1, usecols=dq_columns)
object_columns = {}
chunk_number = 1
for chunk in chunk_iter:
    data_types = chunk.dtypes
    string_col = data_types[data_types=='object']
    key = 'chunk ' + str(chunk_number)
    object_columns[key] = string_col
    chunk_number += 1

In [17]:
pd.DataFrame(object_columns).loc['id']

chunk 1        NaN
chunk 2        NaN
chunk 3        NaN
chunk 4        NaN
chunk 5        NaN
chunk 6        NaN
chunk 7        NaN
chunk 8        NaN
chunk 9        NaN
chunk 10       NaN
chunk 11       NaN
chunk 12       NaN
chunk 13    object
chunk 14    object
Name: id, dtype: object

It looks like part way through the table the id column switches from being read as a numeric type to a string type. If I end up needing this column for analysis, I may have to address this.  
1. How many columns have a numeric type?  
 - 31 columns have a numeric type (15 int64 columns, 16 float64 columns)  
2. How many columns have a string type?  
 - 21 columns have a string type

Check for the number of unique values

In [50]:
chunk_iter = pd.read_csv("LoanStats3a.csv", chunksize=rows_under_5Mb, header=1, usecols=dq_columns)
unique_values = {}
for chunk in chunk_iter:
    obj_cols = chunk.select_dtypes(include=['object'])
    for col in obj_cols.columns:
        values = obj_cols[col].value_counts()
        if col in unique_values:                      
             unique_values[col] = pd.concat([unique_values[col], values])
        else:
            unique_values[col] = values

In [51]:
unique_values_combined = {}
for key in unique_values:
    unique_values_combined[key] = unique_values[key].groupby(level=0).sum()

In [52]:
unique_value_counts_chunks = {}
for key in unique_values_combined:
    unique_value_counts_chunks[key] = len(unique_values_combined[key])

In [53]:
unique_value_counts_chunks

{'term': 2,
 'int_rate': 394,
 'grade': 7,
 'sub_grade': 35,
 'emp_title': 30658,
 'emp_length': 11,
 'home_ownership': 5,
 'verification_status': 3,
 'issue_d': 55,
 'loan_status': 4,
 'pymnt_plan': 1,
 'purpose': 14,
 'title': 21264,
 'zip_code': 837,
 'addr_state': 50,
 'earliest_cr_line': 530,
 'revol_util': 1119,
 'initial_list_status': 1,
 'last_pymnt_d': 112,
 'last_credit_pull_d': 144,
 'application_type': 1,
 'id': 3}

3. How many unique values are there in each string column?  
 - See the unique_value_counts_chunks dictionary above

In [297]:
unique_value_counts_chunks

{'term': 2,
 'int_rate': 394,
 'grade': 7,
 'sub_grade': 35,
 'emp_title': 30658,
 'emp_length': 11,
 'home_ownership': 5,
 'verification_status': 3,
 'issue_d': 55,
 'loan_status': 4,
 'pymnt_plan': 1,
 'purpose': 14,
 'title': 21264,
 'zip_code': 837,
 'addr_state': 50,
 'earliest_cr_line': 530,
 'revol_util': 1119,
 'initial_list_status': 1,
 'last_pymnt_d': 112,
 'last_credit_pull_d': 144,
 'application_type': 1,
 'id': 3}

In [56]:
percent_unique = {}
percent_unique_less_than_50 = {}
for key in unique_values_combined:
    num_unique_values = unique_value_counts_chunks[key]
    num_total_values = unique_values_combined[key].sum()
    percent_unique[key] = round((num_unique_values/num_total_values),2)
    if num_unique_values/num_total_values < 0.5:
        percent_unique_less_than_50[key] = round((num_unique_values/num_total_values),2)
percent_unique

{'term': 0.0,
 'int_rate': 0.01,
 'grade': 0.0,
 'sub_grade': 0.0,
 'emp_title': 0.77,
 'emp_length': 0.0,
 'home_ownership': 0.0,
 'verification_status': 0.0,
 'issue_d': 0.0,
 'loan_status': 0.0,
 'pymnt_plan': 0.0,
 'purpose': 0.0,
 'title': 0.5,
 'zip_code': 0.02,
 'addr_state': 0.0,
 'earliest_cr_line': 0.01,
 'revol_util': 0.03,
 'initial_list_status': 0.0,
 'last_pymnt_d': 0.0,
 'last_credit_pull_d': 0.0,
 'application_type': 0.0,
 'id': 1.0}

In [68]:
percent_unique_less_than_50

{'term': 0.0,
 'int_rate': 0.01,
 'grade': 0.0,
 'sub_grade': 0.0,
 'emp_length': 0.0,
 'home_ownership': 0.0,
 'verification_status': 0.0,
 'issue_d': 0.0,
 'loan_status': 0.0,
 'pymnt_plan': 0.0,
 'purpose': 0.0,
 'zip_code': 0.02,
 'addr_state': 0.0,
 'earliest_cr_line': 0.01,
 'revol_util': 0.03,
 'initial_list_status': 0.0,
 'last_pymnt_d': 0.0,
 'last_credit_pull_d': 0.0,
 'application_type': 0.0}

In [57]:
len(percent_unique_less_than_50)

19

4. How many of the string columns contain values that are less than 50% unique?  
 - 19  
 
 Note that this differs from the dataquest answer key because dataquest selects only columns where the number of unique values is less than 50.

In [58]:
missing_values_summary = approved_loans.select_dtypes(include=['floating']).isnull().sum()

In [59]:
no_missing_values = missing_values_summary[missing_values_summary==0]

In [60]:
for each in no_missing_values.index:
    print(each)

funded_amnt_inv
installment
annual_inc
dti
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_amnt

In [63]:
chunk_iter = pd.read_csv("LoanStats3a.csv", chunksize=rows_under_5Mb, header=1, usecols=dq_columns)
missing = []
for chunk in chunk_iter:
    floats = chunk.select_dtypes(include=['float'])
    missing.append(floats.apply(pd.isnull).sum())
combined_missing = pd.concat(missing)
combined_missing.groupby(combined_missing.index).sum().sort_values()

total_rec_prncp                   3
out_prncp                         3
total_rec_late_fee                3
loan_amnt                         3
last_pymnt_amnt                   3
installment                       3
recoveries                        3
revol_bal                         3
out_prncp_inv                     3
funded_amnt_inv                   3
dti                               3
total_pymnt                       3
total_pymnt_inv                   3
collection_recovery_fee           3
total_rec_int                     3
funded_amnt                       3
policy_code                       3
annual_inc                        7
total_acc                        32
pub_rec                          32
acc_now_delinq                   32
inq_last_6mths                   32
delinq_amnt                      32
delinq_2yrs                      32
open_acc                         32
tax_liens                       108
collections_12_mths_ex_med      148
chargeoff_within_12_mths        148
pub_rec_bankruptcies           1368
id                            38196
member_id                     42538
dtype: int64

5. Which float columns have no missing values and could be candidates for conversion to integer type?  

None of the columns have no missing values

#### Optimize String Columns

Look through the column values summarized in the unique_values dictionary to see which columns can be converted to numerical or datetime types.

In [64]:
unique_values

{'term':  36 months    2183
  60 months    1000
  36 months    2079
  60 months    1104
  36 months    2083
  60 months    1100
  36 months    2154
  60 months    1029
  36 months    2013
  60 months    1170
  36 months    1854
  60 months    1329
  36 months    2117
  60 months    1066
  36 months    2006
  60 months    1177
  36 months    2028
  60 months    1155
  36 months    2623
  60 months     560
  36 months    3183
  36 months    3183
  36 months    2871
  60 months     311
  36 months    1157
 Name: term, dtype: int64, 'int_rate':  11.71%    253
  12.69%    211
  12.42%    211
  13.49%    201
   7.90%    197
  10.65%    177
  14.27%    176
   9.91%    172
   8.90%    149
  16.77%    117
   6.62%    113
   7.51%    112
  14.65%    112
   6.03%    109
  15.27%    102
  17.27%     97
  15.96%     88
  17.58%     78
  16.29%     67
  18.64%     64
  19.03%     63
  18.25%     61
  20.30%     48
  19.42%     46
  19.91%     38
  20.89%     35
  21.28%     24
  21.67%     17
  22.06%     13
  22.35%     10
           ...
  17.09%      2
  12.09%      2
  11.78%      2
   7.12%      2
  17.28%      2
  17.15%      2
  11.14%      2
  12.41%      2
  17.91%      2
  12.72%      2
  14.62%      2
  14.67%      2
   9.38%      2
  19.36%      2
  15.88%      2
   9.51%      1
  10.14%      1
  10.83%      1
  17.72%      1
  11.28%      1
  17.41%      1
  16.83%      1
   6.00%      1
  13.49%      1
   9.70%      1
  10.01%      1
  10.96%      1
  15.57%      1
   7.68%      1
  17.78%      1
 Name: int_rate, Length: 1096, dtype: int64, 'grade': B    1025
 A     680
 C     680
 D     420
 E     259
 F      99
 G      20
 A    1003
 B     947
 C     521
 D     361
 E     229
 F      95
 G      27
 B     991
 A     966
 C     543
 D     384
 E     203
 F      80
 G      16
 B     985
 A     804
 C     581
 D     427
 E     257
 F      98
 G      31
 B     906
 A     805
      ...
 F      47
 G      13
 B    1070
 C     740
 A     718
 D     463
 E     130
 F      44
 G      18
 B     876
 C     832
 A     815
 D     426
 E     180
 F      43
 G      11
 C     883
 B     730
 D     670
 A     355
 E     325
 F     137
 G      82
 E     291
 D     253
 C     200
 F     135
 B     119
 G     116
 A      43
 Name: grade, Length: 98, dtype: int64, 'sub_grade': B3    253
 B5    212
 B4    211
 C1    201
 A4    197
 B2    177
 C2    177
 B1    172
 A5    149
 D2    117
 A2    113
 C3    112
 A3    112
 A1    109
 C4    102
 D3     97
 C5     88
 D4     78
 D1     67
 E1     64
 E2     63
 D5     61
 E5     48
 E3     46
 E4     38
 F1     35
 F2     24
 F3     17
 F4     13
 F5     10
      ...
 E1     53
 D3     48
 E5     46
 C3     43
 D1     43
 C2     42
 C5     40
 C4     40
 F1     38
 C1     35
 B5     34
 G5     34
 D2     33
 G4     31
 F3     29
 F2     28
 B4     25
 F4     21
 B3     21
 B1     20
 G1     20
 B2     19
 F5     19
 G2     16
 A5     16
 G3     15
 A3      9
 A4      8
 A2      8
 A1      2
 Name: sub_grade, Length: 487, dtype: int64, 'emp_title': US Army                                             9
 Kaiser Permanente                                   9
 IBM                                                 9
 Walmart                                             7
 U.S. Army                                           7
 USAF                                                6
 Department of Defense                               6
 AT&T                                                6
 JP Morgan Chase                                     6
 Target                                              5
 Wells Fargo                                         5
 UPS                                                 5
 USPS                                                4
 United States Air Force                             4
 Comcast                                             4
 Social Security Administration                      4
 Bank of America                                     4
 State of California                                 4
 US Navy                                             4
 Cablevision                                         3
 Trader Joes                                         3
 Merrill Lynch                                       3
 Military                                            3
 ADP                                                 3
 General Motors                                      3
 walgreens                                           3
 US Bank                                             3
 Texas A&M University                                3
 United Parcel Service                               3
 Best Buy                                            3
                                                    ..
 El Paso County Sheriff's Office                     1
 Assurant Inc.                                       1
 STMicroelectronics                                  1
 E & J Hauling                                       1
 Bus Services Corporation dba Trams International    1
 DEFACS (Department Of Human Resources)              1
 H&R Block                                           1
 TLC                                                 1
 Artisan properties                                  1
 Balfour Beatty Construction                         1
 Samurai Restaurant                                  1
 Worklife Financial and PF Changs China Bistro       1
 David Blalock                                       1
 Briggs & Stratton                                   1
 Edward Jones                                        1
 Rho                                                 1
 Brinks Security                                     1
 Diopsys, Inc.                                       1
 Smartbomb Interactive                               1
 Collins Tree Service                                1
 Diane Scanland Associates, LLC                      1
 North Carolina State University                     1
 PaySpot Inc.                                        1
 REGALOS Y SORPRESAS WENDY                           1
 Nothern Arizona University                          1
 Westbank Flower Market                              1
 Linens N Things                                     1
 Circle K                                            1
 U.S. Bank                                           1
 GuardsMark LLC security                             1
 Name: emp_title, Length: 36928, dtype: int64, 'emp_length': 10+ years    794
 2 years      318
 5 years      290
 < 1 year     284
 4 years      277
 3 years      264
 6 years      230
 1 year       225
 7 years      184
 8 years      122
 9 years      105
 10+ years    795
 2 years      311
 3 years      306
 < 1 year     275
 5 years      273
 4 years      251
 1 year       235
 6 years      231
 7 years      147
 8 years      121
 9 years      102
 10+ years    845
 2 years      305
 < 1 year     293
 4 years      293
 3 years      290
 5 years      248
 1 year       229
 6 years      201
             ...
 2 years      457
 3 years      321
 4 years      258
 5 years      207
 6 years      133
 7 years      114
 8 years      112
 9 years      101
 10+ years    594
 < 1 year     552
 2 years      397
 1 year       372
 3 years      291
 4 years      245
 5 years      194
 6 years      154
 8 years      142
 7 years      120
 9 years       87
 < 1 year     266
 1 year       191
 10+ years    164
 2 years      147
 3 years      104
 4 years       73
 6 years       65
 5 years       54
 7 years       34
 8 years       32
 9 years       27
 Name: emp_length, Length: 154, dtype: int64, 'home_ownership': RENT        1722
 MORTGAGE    1205
 OWN          256
 MORTGAGE    1610
 RENT        1347
 OWN          226
 MORTGAGE    1575
 RENT        1363
 OWN          245
 MORTGAGE    1583
 RENT        1377
 OWN          223
 MORTGAGE    1548
 RENT        1387
 OWN          247
 OTHER          1
 RENT        1484
 MORTGAGE    1457
 OWN          242
 RENT        1523
 MORTGAGE    1442
 OWN          218
 RENT        1470
 MORTGAGE    1455
 OWN          258
 RENT        1534
 MORTGAGE    1418
 OWN          231
 RENT        1592
 MORTGAGE    1385
 OWN          206
 RENT        1603
 MORTGAGE    1173
 OWN          400
 OTHER          7
 RENT        1659
 MORTGAGE    1257
 OWN          197
 OTHER         70
 RENT        1486
 MORTGAGE    1418
 OWN          237
 OTHER         38
 NONE           3
 RENT         634
 MORTGAGE     433
 OWN           65
 OTHER         20
 NONE           5
 Name: home_ownership, dtype: int64, 'verification_status': Verified           1182
 Not Verified       1044
 Source Verified     957
 Verified           1317
 Source Verified     959
 Not Verified        907
 Verified           1238
 Source Verified     987
 Not Verified        958
 Not Verified       1177
 Source Verified    1013
 Verified            993
 Verified           1081
 Not Verified       1080
 Source Verified    1022
 Source Verified    1110
 Not Verified       1039
 Verified           1034
 Verified           1175
 Source Verified    1075
 Not Verified        933
 Verified           1146
 Not Verified       1066
 Source Verified     971
 Verified           1168
 Not Verified       1103
 Source Verified     912
 Not Verified       1894
 Verified            822
 Source Verified     467
 Not Verified       2788
 Verified            368
 Source Verified      27
 Not Verified       1494
 Verified           1179
 Source Verified     510
 Not Verified       2235
 Verified            651
 Source Verified     296
 Not Verified       1040
 Verified            117
 Name: verification_status, dtype: int64, 'issue_d': Dec-2011    2266
 Nov-2011     917
 Oct-2011    1862
 Nov-2011    1315
 Sep-2011       5
 Dec-2011       1
 Sep-2011    2062
 Aug-2011     865
 Oct-2011     256
 Jul-2011    1863
 Aug-2011    1069
 Jun-2011     251
 Jun-2011    1584
 May-2011    1575
 Apr-2011      12
 Jul-2011      12
 Apr-2011    1551
 Mar-2011    1414
 May-2011     129
 Feb-2011      89
 Jan-2011    1379
 Feb-2011    1209
 Dec-2010     561
 Mar-2011      34
 Oct-2010    1128
 Nov-2010    1121
 Dec-2010     708
 Sep-2010     225
 Jan-2011       1
 Jul-2010    1103
             ...
 May-2009      40
 Aug-2009      38
 Dec-2008      37
 Jul-2009      37
 Nov-2007      37
 Aug-2007      33
 Sep-2008      32
 Jul-2007      30
 Jan-2009      30
 Sep-2007      18
 Jun-2007       1
 Mar-2008     166
 Jan-2008     134
 Feb-2008     132
 Apr-2008     104
 Dec-2007      87
 Nov-2007      75
 Jul-2008      58
 Jun-2008      58
 Oct-2007      58
 May-2008      44
 Aug-2007      41
 Sep-2007      35
 Jul-2007      33
 Aug-2008      29
 Oct-2008      26
 Nov-2008      25
 Sep-2008      25
 Jun-2007      23
 Dec-2008       4
 Name: issue_d, Length: 120, dtype: int64, 'loan_status': Fully Paid                                             2635
 Charged Off                                             548
 Fully Paid                                             2675
 Charged Off                                             508
 Fully Paid                                             2731
 Charged Off                                             452
 Fully Paid                                             2704
 Charged Off                                             479
 Fully Paid                                             2682
 Charged Off                                             501
 Fully Paid                                             2723
 Charged Off                                             460
 Fully Paid                                             2777
 Charged Off                                             406
 Fully Paid                                             2756
 Charged Off                                             427
 Fully Paid                                             2739
 Charged Off                                             444
 Fully Paid                                             2786
 Charged Off                                             397
 Fully Paid                                             2793
 Charged Off                                             390
 Fully Paid                                             2783
 Charged Off                                             400
 Fully Paid                                             1332
 Does not meet the credit policy. Status:Fully Paid     1187
 Does not meet the credit policy. Status:Charged Off     405
 Charged Off                                             258
 Does not meet the credit policy. Status:Fully Paid      801
 Does not meet the credit policy. Status:Charged Off     356
 Name: loan_status, dtype: int64, 'pymnt_plan': n    3183
 n    3183
 n    3183
 n    3183
 n    3183
 n    3183
 n    3183
 n    3183
 n    3183
 n    3183
 n    3183
 n    3183
 n    3182
 n    1157
 Name: pymnt_plan, dtype: int64, 'purpose': debt_consolidation    1686
 credit_card            701
 other                  228
 home_improvement       148
 small_business         107
 major_purchase          74
 car                     74
 wedding                 43
 medical                 35
 moving                  32
 vacation                27
 house                   23
 renewable_energy         5
 debt_consolidation    1648
 credit_card            383
 other                  307
 home_improvement       221
 small_business         163
 major_purchase         116
 car                     94
 wedding                 72
 medical                 66
 house                   46
 moving                  36
 vacation                26
 renewable_energy         5
 debt_consolidation    1600
 credit_card            374
 other                  278
 home_improvement       228
                       ...
 house                   40
 vacation                23
 renewable_energy         4
 debt_consolidation    1254
 other                  465
 credit_card            444
 home_improvement       264
 small_business         185
 major_purchase         145
 educational             97
 wedding                 81
 car                     81
 medical                 52
 moving                  49
 house                   38
 vacation                22
 renewable_energy         5
 debt_consolidation     468
 other                  194
 credit_card            167
 small_business          64
 home_improvement        56
 educational             55
 major_purchase          35
 medical                 31
 car                     23
 house                   20
 moving                  20
 wedding                 18
 vacation                 6
 Name: purpose, Length: 188, dtype: int64, 'title': Debt Consolidation Loan                     323
 Debt Consolidation                          222
 Credit Card Loan                            105
 Consolidation                                69
 debt consolidation                           59
 Debt consolidation                           44
 Credit Card Consolidation                    40
 Personal Loan                                38
 Small Business Loan                          34
 Other Loan                                   32
 Credit Card                                  32
 Personal                                     26
 Home Improvement                             24
 Credit Card Payoff                           23
 Home Improvement Loan                        23
 Car Loan                                     22
 Credit Card Refinance                        21
 consolidation                                20
 personal loan                                20
 debt_consolidation                           17
 Other                                        15
 payoff                                       14
 Consolidation Loan                           14
 Consolidate                                  13
 credit card consolidation                    13
 Medical                                      12
 Wedding Loan                                 12
 Major Purchase Loan                          11
 Loan                                         11
 Business Loan                                10
                                            ...
 Financing the dream                           1
 Sending wife to college                       1
 please help the closing is soon!!!            1
 WEDDING DAY                                   1
 No More Holiday Debt                          1
 TAXES                                         1
 Revamp Income Generating Website              1
 suddenly stuck on stupid!                     1
 Cards and Loan                                1
 Buying high-profit apartment building         1
 Investing in a SOLID business!                1
 looking foward to expand                      1
 Consolidating credit cards                    1
 to payoff and consilidate bills               1
 syndicatelotto                                1
 Racerbassist                                  1
 Cutting up Credit Cards                       1
 Help me get debt free                         1
 New House - Big and Empty                     1
 My Interest Rates Are Too High!               1
 Help Me Consolodate To 1 Monthly Payment      1
 Pay off debt and fix truck                    1
 College Purposes                              1
 Need in order to payoff bills                 1
 Small Business Expanding                      1
 Dec 2007                                      1
 Cheshire                                      1
 Credit Card Refinancing                       1
 Moving expenses                               1
 Need extra funds for wedding expenses         1
 Name: title, Length: 26873, dtype: int64, 'zip_code': 100xx    46
 900xx    45
 606xx    42
 945xx    42
 112xx    41
 070xx    36
 300xx    34
 921xx    33
 331xx    33
 113xx    33
 917xx    32
 750xx    29
 770xx    29
 330xx    27
 303xx    26
 951xx    26
 925xx    26
 117xx    23
 926xx    23
 021xx    23
 334xx    22
 104xx    22
 852xx    22
 941xx    22
 913xx    21
 928xx    21
 080xx    20
 920xx    20
 891xx    20
 902xx    18
          ..
 757xx     1
 218xx     1
 635xx     1
 644xx     1
 841xx     1
 983xx     1
 214xx     1
 953xx     1
 766xx     1
 894xx     1
 165xx     1
 844xx     1
 245xx     1
 160xx     1
 279xx     1
 907xx     1
 344xx     1
 031xx     1
 912xx     1
 882xx     1
 549xx     1
 181xx     1
 514xx     1
 149xx     1
 535xx     1
 470xx     1
 973xx     1
 557xx     1
 596xx     1
 443xx     1
 Name: zip_code, Length: 7826, dtype: int64, 'addr_state': CA    592
 NY    302
 FL    245
 TX    213
 NJ    146
 IL    126
 GA    125
 PA    105
 VA    104
 OH    101
 MA     89
 WA     87
 NC     83
 MD     74
 AZ     67
 CT     64
 MO     63
 CO     56
 MN     50
 WI     46
 OR     40
 NV     38
 MI     38
 AL     32
 LA     29
 SC     26
 UT     25
 HI     22
 AR     22
 KY     21
      ...
 WA     19
 WI     19
 NV     18
 TN     15
 KS     14
 AL     12
 MN     10
 IN     10
 NM      9
 UT      9
 NH      9
 KY      8
 SC      8
 LA      7
 IA      7
 NE      6
 MT      6
 RI      5
 MS      4
 OK      4
 DC      4
 OR      4
 AR      4
 ID      3
 HI      3
 AK      3
 WY      1
 DE      1
 SD      1
 VT      1
 Name: addr_state, Length: 612, dtype: int64, 'earliest_cr_line': Oct-2000    37
 Apr-2000    36
 Nov-2000    33
 Jan-2000    32
 Nov-1999    31
 May-2000    31
 Nov-1998    31
 Feb-2000    28
 Dec-1998    28
 Dec-2001    27
 Oct-1999    27
 Sep-2000    26
 Oct-2003    26
 Aug-1999    26
 Sep-1998    26
 Aug-2000    25
 Jul-2000    24
 Jan-2001    24
 Nov-2003    24
 Dec-1999    23
 Oct-2005    23
 Jun-2002    23
 Feb-2005    23
 Jul-2006    22
 Dec-2000    22
 Oct-2002    22
 Jul-2001    21
 Mar-2001    21
 Oct-2001    21
 May-1999    21
             ..
 Dec-1981     1
 Aug-1972     1
 Sep-1985     1
 Aug-1974     1
 Dec-1977     1
 Aug-1970     1
 Jul-1985     1
 Sep-1981     1
 Jan-1989     1
 Jul-1975     1
 Sep-1987     1
 Feb-1976     1
 May-1979     1
 Nov-1985     1
 Aug-1992     1
 Sep-1975     1
 Mar-1988     1

Convert term and revol_util to numerical

Convert issue_d, earliest_cr_line, last_pymnt_d, and last_credit_pull_d to datetime.

Convert columns that contain values that are less than 50% unique to category.

In [88]:
convert_col_dtypes = {}
for key in percent_unique_less_than_50:
    convert_col_dtypes[key] = 'category'
dates = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d']

In [89]:
chunk_iter = pd.read_csv("LoanStats3a.csv", chunksize=rows_under_5Mb, dtype=convert_col_dtypes, parse_dates=dates, header=1, usecols=dq_columns)
for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.split('m').str[0].str.strip()
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned)
    chunk['revol_util'] = pd.to_numeric(revol_cleaned)

Compare to original memory footprint to see if this lowers the amount of memory used by the table

In [95]:
original_1000_rows = pd.read_csv("LoanStats3a.csv", nrows=1000, header=1, usecols=columns)
memory_footprint_original = original_1000_rows.memory_usage(deep=True).sum()/(2**20)
print(memory_footprint_original)

2.4058313369750977

In [96]:
updated_1000_rows = pd.read_csv("LoanStats3a.csv", nrows=1000, dtype=convert_col_dtypes, parse_dates=dates, header=1, usecols=dq_columns)
memory_footprint_updated = updated_1000_rows.memory_usage(deep=True).sum()/(2**20)
print(memory_footprint_updated)

0.5225563049316406

#### Identify float columns that can be converted to a more space efficient subtype.  
I already know from my investigation above that there are missing values in all float columns. However I will check to see if there are any rows that contain only missing values. If so, I will drop these rows and see if this makes it possible to convert float to int columns.

In [97]:
chunk_iter = pd.read_csv("LoanStats3a.csv", chunksize=rows_under_5Mb, dtype=convert_col_dtypes, parse_dates=dates, header=1, usecols=dq_columns)
mv_counts = {}
for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.split('m').str[0].str.strip()
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned)
    chunk['revol_util'] = pd.to_numeric(revol_cleaned)
    chunk = chunk.dropna(how='all')
    float_cols = chunk.select_dtypes(include=['float'])
    for col in float_cols.columns:
        missing_values = len(chunk) - chunk[col].count()
        if col in mv_counts:
            mv_counts[col] = mv_counts[col] + missing_values
        else:
            mv_counts[col] = missing_values

In [98]:
mv_counts

{'id': 38196,
 'member_id': 42538,
 'funded_amnt_inv': 3,
 'installment': 3,
 'annual_inc': 7,
 'dti': 3,
 'revol_util': 93,
 'out_prncp': 3,
 'out_prncp_inv': 3,
 'total_pymnt': 3,
 'total_pymnt_inv': 3,
 'total_rec_prncp': 3,
 'total_rec_int': 3,
 'total_rec_late_fee': 3,
 'recoveries': 3,
 'collection_recovery_fee': 3,
 'last_pymnt_amnt': 3,
 'pub_rec_bankruptcies': 1368,
 'loan_amnt': 3,
 'funded_amnt': 3,
 'term': 3,
 'delinq_2yrs': 32,
 'inq_last_6mths': 32,
 'open_acc': 32,
 'pub_rec': 32,
 'revol_bal': 3,
 'total_acc': 32,
 'collections_12_mths_ex_med': 148,
 'policy_code': 3,
 'acc_now_delinq': 32,
 'chargeoff_within_12_mths': 148,
 'delinq_amnt': 32,
 'tax_liens': 108}

There are still no columns with no missing values, so I won't convert any columns to int.

## Checks and Debugging  
##### The following shows a summary of the checks I did on the columns investigation section

Read in the full table

In [191]:
chunk_iter = pd.read_csv("LoanStats3a.csv", chunksize=rows_under_5Mb, header=1, usecols=dq_columns)
full_table = []
for chunk in chunk_iter:
    full_table.append(chunk)
df = pd.concat(full_table)

I can get the whole table to load, but instead I'm going to do the following checks on chunks of the table to avoid reading in the whole thing before I've optimized the columns. I will, however, check my answers agains the full table to make sure I'm handling chunks correctly.

In [247]:
#Check the number of unique values -- attempt 2
chunk_iter = pd.read_csv("LoanStats3a.csv", chunksize=rows_under_5Mb, header=1, usecols=dq_columns)
unique_values = {}
for chunk in chunk_iter:
    obj_cols = chunk.select_dtypes(include=['object'])
    for col in obj_cols.columns:
        values = obj_cols[col].value_counts()
        if col in unique_values:                      
             unique_values[col] = pd.concat([unique_values[col], values])
        else:
            unique_values[col] = values

In [245]:
unique_values_combined = {}
for key in unique_values:
    unique_values_combined[key] = unique_values[key].groupby(level=0).sum()

In [254]:
unique_value_counts_chunks = {}
for key in unique_values_combined:
    unique_value_counts_chunks[key] = len(unique_values_combined[key])

Check my answer agains the full dataframe import. I'm not matching the dq answer, but I think the answer key might have a mistake.

In [251]:
#Check the number of unique values -- attempt 2
unique_values_df = {}
obj_cols = df.select_dtypes(include=['object'])
for col in obj_cols.columns:
    values = obj_cols[col].value_counts()
    if col in unique_values_df:                      
         unique_values_df[col] = pd.concat([unique_values_df[col], values])
    else:
        unique_values_df[col] = values

In [252]:
unique_values_combined_df = {}
for key in unique_values_df:
    unique_values_combined_df[key] = unique_values_df[key].groupby(level=0).sum()

In [255]:
unique_value_counts_df = {}
for key in unique_values_combined_df:
    unique_value_counts_df[key] = len(unique_values_combined[key])

In [256]:
unique_value_counts_chunks==unique_value_counts_df

True

So the difference doesn't seem to be coming from my reading in the data in chuncks. Perhaps the datahas been updated since dataquest generated the answer key? I'll try the dq code next in case I have an error in my code.

In [296]:
loans_chunks = pd.read_csv('LoanStats3a.csv',chunksize=3000, header=1, usecols=dq_columns)

uniques = {}
for lc in loans_chunks:
    strings_only = lc.select_dtypes(include=['object'])
    cols = strings_only.columns
    for c in cols:
        val_counts = strings_only[c].value_counts()
        if c in uniques:
            uniques[c].append(val_counts)
        else:
            uniques[c] = [val_counts]

uniques_combined = {}
unique_stats = {
    'column_name': [],
    'total_values': [],
    'unique_values': [],
}
for col in uniques:
    u_concat = pd.concat(uniques[col])
    u_group = u_concat.groupby(u_concat.index).sum()
    uniques_combined[col] = u_group
    if u_group.shape[0] < 50:
        print(col, u_group.shape[0])

 36 months    2060
 60 months     940
 36 months    1950
 60 months    1050
 36 months    1970
 60 months    1030
 36 months    2015
 60 months     985
 36 months    2002
 60 months     998
 36 months    1734
 60 months    1266
 36 months    1863
 60 months    1137
 36 months    2027
 60 months     973
 36 months    1831
 60 months    1169
 36 months    1866
 60 months    1134
 36 months    2992
 60 months       8
 36 months    3000
 36 months    3000
 36 months    2688
 60 months     311
 36 months     536
Name: term, dtype: int64
 36 months    31534
 60 months    11001
Name: term, dtype: int64
term 2
 11.71%    236
 12.69%    204
 12.42%    203
 13.49%    191
  7.90%    178
 14.27%    171
 10.65%    168
  9.91%    162
  8.90%    141
 16.77%    111
  7.51%    105
  6.62%    104
 14.65%    103
 15.27%    101
  6.03%     97
 17.27%     90
 15.96%     84
 17.58%     72
 16.29%     67
 18.64%     61
 19.03%     59
 18.25%     56
 20.30%     45
 19.42%     43
 19.91%     35
 20.89%     34
 21.28%     23
 21.67%     16
 22.06%     11
 22.35%     10
          ...
  9.83%      3
 11.09%      3
 14.82%      3
 16.46%      3
 14.57%      3
 17.09%      2
 14.67%      2
  7.12%      2
 15.13%      2
 11.72%      2
 15.45%      2
 17.72%      1
 10.39%      1
 12.61%      1
 11.34%      1
 16.71%      1
 15.76%      1
 17.97%      1
 10.14%      1
 16.08%      1
 14.18%      1
 14.50%      1
 17.41%      1
 10.08%      1
 12.92%      1
 11.03%      1
 17.66%      1
  9.51%      1
 18.61%      1
 11.66%      1
Name: int_rate, Length: 1124, dtype: int64
  5.42%    573
  5.79%    410
  5.99%    347
  6.00%     19
  6.03%    447
  6.17%    252
  6.39%     58
  6.54%    307
  6.62%    396
  6.76%    168
  6.91%    310
  6.92%    204
  6.99%    336
  7.05%     23
  7.12%      9
  7.14%    342
  7.29%    397
  7.37%     32
  7.40%     72
  7.42%      7
  7.43%     33
  7.49%    656
  7.51%    787
  7.66%    292
  7.68%     94
  7.74%    154
  7.75%     27
  7.88%    742
  7.90%    582
  7.91%     14
          ...
 20.90%     18
 20.99%     55
 21.14%      7
 21.21%      7
 21.22%      7
 21.27%     16
 21.28%     43
 21.36%     45
 21.48%      1
 21.59%      8
 21.64%     12
 21.67%     42
 21.74%     31
 21.82%      2
 22.06%     37
 22.11%     31
 22.35%     25
 22.48%     16
 22.64%      1
 22.74%     20
 22.85%      8
 22.94%      2
 23.13%      9
 23.22%      9
 23.52%      9
 23.59%      4
 23.91%     11
 24.11%      3
 24.40%      1
 24.59%      1
Name: int_rate, Length: 394, dtype: int64
B    974
C    651
A    625
D    396
E    243
F     94
G     17
A    923
B    892
C    501
D    354
E    208
F     94
G     28
A    948
B    939
C    491
D    338
E    204
F     65
G     15
B    909
A    768
C    538
D    413
E    248
F     97
G     27
B    906
A    758
    ...
F     31
G      6
B    981
A    725
C    702
D    395
E    135
F     44
G     18
C    843
B    804
A    711
D    432
E    165
F     36
G      9
C    739
D    721
B    535
E    448
A    225
F    192
G    139
E    127
C    100
D     97
F     70
B     61
G     57
A     24
Name: grade, Length: 105, dtype: int64
A    10183
B    12389
C     8740
D     6016
E     3394
F     1301
G      512
Name: grade, dtype: int64
grade 7
B3    236
B5    205
B4    203
C1    191
A4    178
C2    172
B2    168
B1    162
A5    141
D2    111
A3    105
A2    104
C3    103
C4    101
A1     97
D3     90
C5     84
D4     72
D1     67
E1     61
E2     59
D5     56
E5     45
E3     43
E4     35
F1     34
F2     23
F3     16
F4     11
F5     10
     ...
C2     23
E3     22
E5     21
F1     21
C4     20
G4     20
E1     19
C1     19
D3     19
B5     19
F2     16
B3     14
G5     14
B4     13
F4     13
C5     13
D1     11
G3     10
F5     10
F3     10
B1      9
D2      8
A5      8
G2      7
A2      7
G1      6
B2      6
A3      4
A4      3
A1      2
Name: sub_grade, Length: 522, dtype: int64
A1    1142
A2    1520
A3    1823
A4    2905
A5    2793
B1    1882
B2    2113
B3    2997
B4    2590
B5    2807
C1    2264
C2    2157
C3    1658
C4    1370
C5    1291
D1    1053
D2    1485
D3    1322
D4    1140
D5    1016
E1     884
E2     791
E3     668
E4     552
E5     499
F1     392
F2     308
F3     236
F4     211
F5     154
G1     141
G2     107
G3      79
G4      99
G5      86
Name: sub_grade, dtype: int64
sub_grade 35
US Army                                         9
Kaiser Permanente                               9
IBM                                             8
Walmart                                         7
AT&T                                            6
U.S. Army                                       6
USAF                                            6
Department of Defense                           6
UPS                                             5
Target                                          4
Wells Fargo                                     4
Comcast                                         4
State of California                             4
Bank of America                                 4
USPS                                            4
United States Air Force                         4
General Motors                                  3
US Bank                                         3
JP Morgan Chase                                 3
Trader Joes                                     3
United Parcel Service                           3
Best Buy                                        3
walgreens                                       3
walmart                                         3
Social Security Administration                  3
Raytheon                                        3
Texas A&M University                            3
US Navy                                         3
Military                                        3
United States Postal Service                    3
                                               ..
Highland Capital                                1
Amdocs Inc                                      1
Target                                          1
INSTTITUTE FOR CHILD AND FAMILY HEALTH, INC.    1
Richard Alan Bernsley, PC                       1
Brookhave National Labortory                    1
MCHCP                                           1
Air Force                                       1
Victory Christian                               1
u s postal service                              1
ADAMS TRACTOR                                   1
RJM Development                                 1
Danske Info                                     1
Emerson Network Power                           1
NY Collision Experts                            1
John Braddocks, Inc.                            1
MBA Team, Inc.                                  1
Hercules, Inc.                                  1
TexasRAS.com                                    1
Custom Logos                                    1
Walgreen's                                      1
AgReserves, Inc.                                1
Apto Solutions                                  1
Jack Bodziak, Architects, developers            1
State of NV Wefare Division                     1
asplundh tree expert                            1
Town of Plainville                              1
Guitar Center                                   1
Mainstreet Host                                 1
Chimney Works                                   1
Name: emp_title, Length: 36958, dtype: int64
  old palm inc                                               1
 Brocade Communications                                      1
 CenturyLink                                                 1
 Department of Homeland Security                             1
 Down To Earth Distributors, Inc.                            1
 Plaid, Inc.                                                 1
 U.S. Dept. Of Homeland Security                             1
 pacific crane maintenance company                           1
$260M '06 vintage technology venture capital firm            1
(Collaborative) Abbott Nutrition Intl                        1
(self) Castleforte Group                                     1
0CEAN VIEW INTL REALTY/C21 UNITED PLATINUM                   1
1 Cochran Hyundai                                            1
1 and 1 Internet Inc.                                        1
1)-Yavapai Regional Medical Center 2)- Dr. cantors office    1
1-800 Contacts                                               1
101 restaurant                                               1
1013 communications                                          1
1125 memorex dr                                              1
1199SEIU Benefit and Pension Funds                           1
1199SEIU UHE                                                 1
123 Recovery                                                 1
123 appartment corp.                                         1
128 Air Refueling Wing (USAF)                                1
1400                                                         1
15                                                           1
162 fighter wing                                             1
16th MP BDE, U.S. Army                                       1
1800-got-junk?                                               1
182nd Airlift Wing Fire Dept.                                1
                                                            ..
wyoming valley hospital                                      1
wythe county community hospital                              1
xcel fire protection                                         1
xerox cor.                                                   1
xerox corp                                                   1
xo communication                                             1
xotic deliveries                                             1
xpedite technologies inc                                     1
xpedx                                                        1
yankee candle company                                        1
ye olde pepper co                                            1
yellow cab com.                                              1
yellow cab taxi                                              1
ymca                                                         3
yonkers fire department                                      1
york hospital dental center                                  1
yorkville physical therapy                                   1
young and associates                                         1
young atitudes aveda                                         1
youth villages                                               1
yrbnyc.com / Yellow Rat Bastard                              1
yrc                                                          1
yrcw                                                         1
zachry industral inc                                         1
zakheim and lavrar                                           1
zashko inc.                                                  1
zeno office solutions                                        1
zion lutheran school                                         1
zoll medical corp                                            1
zozaya officiating                                           1
Name: emp_title, Length: 30658, dtype: int64
10+ years    746
2 years      304
5 years      277
4 years      267
< 1 year     260
3 years      246
6 years      218
1 year       214
7 years      170
8 years      116
9 years       99
10+ years    744
2 years      295
3 years      292
< 1 year     268
5 years      242
4 years      241
6 years      219
1 year       215
7 years      146
8 years      114
9 years       96
10+ years    813
2 years      283
< 1 year     266
3 years      264
4 years      262
5 years      245
1 year       219
6 years      197
            ...
2 years      414
3 years      286
4 years      228
5 years      174
6 years      136
8 years      110
7 years      106
9 years       75
10+ years    542
< 1 year     507
2 years      378
1 year       349
3 years      288
4 years      226
5 years      186
6 years      161
8 years      128
7 years      112
9 years       88
< 1 year     149
1 year       105
2 years       68
10+ years     61
3 years       42
4 years       34
5 years       24
6 years       18
7 years       13
9 years       12
8 years       10
Name: emp_length, Length: 165, dtype: int64
1 year       3595
10+ years    9369
2 years      4743
3 years      4364
4 years      3649
5 years      3458
6 years      2375
7 years      1875
8 years      1592
9 years      1341
< 1 year     5062
Name: emp_length, dtype: int64
emp_length 11
RENT        1643
MORTGAGE    1117
OWN          240
MORTGAGE    1515
RENT        1276
OWN          209
MORTGAGE    1489
RENT        1265
OWN          246
MORTGAGE    1495
RENT        1309
OWN          196
MORTGAGE    1465
RENT        1301
OWN          233
OTHER          1
MORTGAGE    1394
RENT        1373
OWN          233
RENT        1449
MORTGAGE    1347
OWN          204
MORTGAGE    1401
RENT        1378
OWN          221
RENT        1416
MORTGAGE    1340
OWN          244
RENT        1445
MORTGAGE    1341
OWN          214
RENT        1527
MORTGAGE    1237
OWN          234
OTHER          2
RENT        1512
MORTGAGE    1128
OWN          334
OTHER         26
RENT        1599
MORTGAGE    1143
OWN          191
OTHER         67
RENT        1374
MORTGAGE    1370
OWN          212
OTHER         40
NONE           3
RENT         314
MORTGAGE     177
OWN           40
NONE           5
Name: home_ownership, dtype: int64
MORTGAGE    18959
NONE            8
OTHER         136
OWN          3251
RENT        20181
Name: home_ownership, dtype: int64
home_ownership 5
Verified           1108
Not Verified        994
Source Verified     898
Verified           1234
Source Verified     923
Not Verified        843
Verified           1205
Not Verified        899
Source Verified     896
Not Verified       1043
Source Verified     988
Verified            969
Not Verified       1081
Verified            993
Source Verified     926
Source Verified    1035
Verified            986
Not Verified        979
Source Verified    1067
Verified           1054
Not Verified        879
Verified           1114
Not Verified        999
Source Verified     887
Verified           1091
Not Verified        970
Source Verified     939
Not Verified       1273
Verified           1000
Source Verified     727
Not Verified       2324
Verified            489
Source Verified     187
Not Verified       2144
Verified            711
Source Verified     145
Not Verified       1712
Verified            890
Source Verified     398
Not Verified       2082
Verified            627
Source Verified     290
Not Verified        536
Name: verification_status, dtype: int64
Not Verified       18758
Source Verified    10306
Verified           13471
Name: verification_status, dtype: int64
verification_status 3
Dec-2011    2260
Nov-2011     740
Oct-2011    1501
Nov-2011    1492
Dec-2011       7
Sep-2011    2051
Oct-2011     617
Aug-2011     332
Aug-2011    1602
Jul-2011    1382
Sep-2011      16
Jun-2011    1835
May-2011     672
Jul-2011     493
Apr-2011    1556
May-2011    1032
Mar-2011     412
Feb-2011    1298
Mar-2011    1036
Jan-2011     659
Apr-2011       7
Dec-2010    1269
Nov-2010    1010
Jan-2011     721
Oct-2010    1133
Sep-2010    1087
Aug-2010     669
Nov-2010     111
Jul-2010    1119
Jun-2010    1029
            ...
Feb-2010      55
Jun-2009      50
Mar-2009      48
Oct-2007      47
May-2008      44
Apr-2009      43
Feb-2009      42
May-2009      40
Aug-2009      38
Nov-2007      37
Jul-2009      37
Aug-2007      33
Dec-2008      30
Jan-2009      30
Jul-2007      30
Aug-2008      29
Oct-2008      26
Sep-2008      25
Nov-2008      25
Sep-2007      18
Jun-2007       1
Jan-2008     134
Dec-2007      87
Nov-2007      75
Oct-2007      58
Feb-2008      50
Aug-2007      41
Sep-2007      35
Jul-2007      33
Jun-2007      23
Name: issue_d, Length: 113, dtype: int64
Apr-2008     259
Apr-2009     333
Apr-2010     912
Apr-2011    1563
Aug-2007      74
Aug-2008     100
Aug-2009     446
Aug-2010    1175
Aug-2011    1934
Dec-2007     172
Dec-2008     253
Dec-2009     658
Dec-2010    1335
Dec-2011    2267
Feb-2008     306
Feb-2009     302
Feb-2010     682
Feb-2011    1298
Jan-2008     305
Jan-2009     269
Jan-2010     662
Jan-2011    1380
Jul-2007      63
Jul-2008     141
Jul-2009     411
Jul-2010    1204
Jul-2011    1875
Jun-2007      24
Jun-2008     124
Jun-2009     406
Jun-2010    1105
Jun-2011    1835
Mar-2008     402
Mar-2009     324
Mar-2010     828
Mar-2011    1448
May-2008     115
May-2009     359
May-2010     989
May-2011    1704
Nov-2007     112
Nov-2008     209
Nov-2009     662
Nov-2010    1224
Nov-2011    2232
Oct-2007     105
Oct-2008     122
Oct-2009     604
Oct-2010    1232
Oct-2011    2118
Sep-2007      53
Sep-2008      57
Sep-2009     507
Sep-2010    1189
Sep-2011    2067
Name: issue_d, dtype: int64
Fully Paid                                             2484
Charged Off                                             516
Fully Paid                                             2516
Charged Off                                             484
Fully Paid                                             2565
Charged Off                                             435
Fully Paid                                             2556
Charged Off                                             444
Fully Paid                                             2549
Charged Off                                             451
Fully Paid                                             2551
Charged Off                                             449
Fully Paid                                             2579
Charged Off                                             421
Fully Paid                                             2633
Charged Off                                             367
Fully Paid                                             2559
Charged Off                                             441
Fully Paid                                             2576
Charged Off                                             424
Fully Paid                                             2684
Charged Off                                             316
Fully Paid                                             2619
Charged Off                                             381
Fully Paid                                             2592
Charged Off                                             408
Does not meet the credit policy. Status:Fully Paid     1632
Fully Paid                                              653
Does not meet the credit policy. Status:Charged Off     581
Charged Off                                             133
Does not meet the credit policy. Status:Fully Paid      356
Does not meet the credit policy. Status:Charged Off     180
Name: loan_status, dtype: int64
Charged Off                                             5670
Does not meet the credit policy. Status:Charged Off      761
Does not meet the credit policy. Status:Fully Paid      1988
Fully Paid                                             34116
Name: loan_status, dtype: int64
loan_status 4
n    3000
n    3000
n    3000
n    3000
n    3000
n    3000
n    3000
n    3000
n    3000
n    3000
n    3000
n    3000
n    3000
n    2999
n     536
Name: pymnt_plan, dtype: int64
n    42535
Name: pymnt_plan, dtype: int64
pymnt_plan 1
debt_consolidation    1590
credit_card            685
other                  209
home_improvement       133
small_business          96
major_purchase          71
car                     65
wedding                 38
moving                  31
medical                 31
vacation                25
house                   21
renewable_energy         5
debt_consolidation    1575
credit_card            350
other                  287
home_improvement       209
small_business         158
major_purchase         105
car                     88
wedding                 67
medical                 57

Name: title, Length: 26923, dtype: int64
\tdebt_consolidation                                            2
   HITEK  EQUIPMENT                                             1
 APRILIA TUONO 1000R                                            1
 Auto                                                           1
 Auto Loan                                                      1
 Bill pay of                                                    1
 Business Loan                                                  1
 CC Consolidation Loan                                          1
 Car loan                                                       1
 Citifinancial consolidation                                    1
 Consolidate at a lower rate                                    1
 Credit Card Payment                                            1
 Credit Card Refinancing                                        1
 Credit Consolidation                                           1
 Credit card payoff                                             1
 Debt Considation                                               1
 Debt Consolidation                                             6
 Debt Consolidation Loan                                        3
 Debt Consolidation for recent Grad.                            1
 Freedom                                                        1
 Freedom Loan                                                   1
 Home Improvement                                               1
 Home Improvement Loan                                          1
 Improving Life Loan                                            1
 Increasing Downpayment to avoid PMI                            1
 J & L Credit Card Consolidation Loan                           1
 LG consolidation loan                                          1
 Personal Loan                                                  2
 Personal loan                                                  1
 Reliable borrower seeks to consolidate                         1
                                                               ..
wrap up                                                         1
wtf                                                             1
wyatt1981                                                       1
wyndstress                                                      1
x1                                                              1
xmas                                                            2
xmass                                                           1
xperienceddebtorqualifiedfor4xthisamount                        1
xr1200                                                          1
xxxx                                                            1
yael                                                            1
yankeeoan                                                       1
yankees                                                         1
yay                                                             1
yc                                                              1
year end scamble                                                1
yes                                                             2
yknot                                                           1
yogibear66                                                      1
you can't beat it                                               1
you won't let you down! I need help for my credit card debt.    1
young adult establishing loan credit                            1
young couple moving up                                          1
young woman with medical expenses                               1
your rate is better than my rate                                1
zack                                                            2
zandercade                                                      1
zipcar                                                          1
zxcvb                                                           1
îîMY FIRST CAR îî                                       1
Name: title, Length: 21264, dtype: int64
900xx    43
606xx    42
945xx    41
100xx    39
112xx    38
300xx    34
113xx    33
921xx    32
331xx    31
070xx    31
917xx    29
770xx    27
750xx    27
925xx    26
951xx    26
303xx    25
330xx    25
117xx    22
852xx    22
104xx    22
913xx    21
334xx    21
021xx    21
928xx    21
941xx    20
926xx    20
920xx    19
891xx    18
080xx    18
088xx    17
         ..
071xx     1
700xx     1
366xx     1
952xx     1
820xx     1
121xx     1
288xx     1
461xx     1
494xx     1
576xx     1
626xx     1
957xx     1
285xx     1
638xx     1
641xx     1
727xx     1
875xx     1
368xx     1
234xx     1
329xx     1
299xx     1
530xx     1
655xx     1
934xx     1
601xx     1
174xx     1
277xx     1
402xx     1
352xx     1
103xx     1
Name: zip_code, Length: 8117, dtype: int64
007xx      1
010xx    106
011xx     17
012xx     16
013xx     14
014xx     36
015xx     66
016xx     26
017xx     83
018xx    143
019xx     89
020xx     77
021xx    416
022xx      2
023xx     90
024xx    100
025xx     26
026xx     29
027xx     99
028xx    148
029xx     59
030xx     75
031xx     27
032xx     17
033xx      5
034xx     11
035xx      3
036xx      1
037xx      9
038xx     40
        ...
967xx    109
968xx     69
969xx      2
970xx     80
971xx     45
972xx    137
973xx     68
974xx     64
975xx     31
976xx     12
977xx     19
978xx     13
980xx    241
981xx    173
982xx     99
983xx     68
984xx     65
985xx     53
986xx     62
988xx     11
989xx     19
990xx     13
991xx     12
992xx     44
993xx     25
995xx     35
996xx     15
997xx     22
998xx     10
999xx      1
Name: zip_code, Length: 837, dtype: int64
CA    563
NY    282
FL    238
TX    198
NJ    133
GA    122
IL    117
PA    103
VA    100
OH     91
WA     82
MA     81
NC     79
MD     70
AZ     64
CT     61
MO     58
CO     51
MN     47
WI     44
OR     39
NV     36
MI     33
AL     29
LA     26
SC     25
UT     24
HI     21
OK     20
KY     19
     ...
VA     13
CT     11
IN     10
WI      9
AL      9
IL      8
WA      7
NV      7
UT      7
MI      6
OH      6
PA      6
NH      6
TN      5
LA      5
KS      5
NE      4
NM      3
KY      3
SC      3
AR      3
MT      3
MS      2
WY      1
SD      1
AK      1
VT      1
DC      1
MN      1
OR      1
Name: addr_state, Length: 653, dtype: int64
AK      86
AL     484
AR     261
AZ     933
CA    7429
CO     857
CT     816
DC     224
DE     136
FL    3104
GA    1503
HI     181
IA      12
ID       9
IL    1672
IN      19
KS     298
KY     359
LA     461
MA    1438
MD    1125
ME       3
MI     796
MN     652
MO     765
MS      26
MT      96
NC     830
NE      11
NH     188
NJ    1988
NM     205
NV     527
NY    4065
OH    1329
OK     317
OR     468
PA    1651
RI     208
SC     489
SD      67
TN      32
TX    2915
UT     278
VA    1487
VT      57
WA     888
WI     516
WV     187
WY      87
Name: addr_state, dtype: int64
Oct-2000    37
Apr-2000    36
Nov-2000    33
Jan-2000    32
May-2000    31
Nov-1998    29
Feb-2000    28
Dec-1998    26
Nov-1999    26
Dec-2001    26
Sep-2000    26
Oct-1999    25
Aug-1999    25
Sep-1998    25
Aug-2000    24
Oct-2003    24
Jan-2001    23
Jun-2002    22
Jul-2000    22
Nov-2003    22
Feb-2005    22
Oct-2002    21
Jul-2006    21
Oct-2005    20
Mar-2001    20
Dec-1999    20
Jul-2001    20
Dec-2000    20
Sep-2006    19
Dec-1997    19
            ..
Jan-1982     1
Mar-2002     1
Feb-2002     1
Jun-2007     1
Aug-1998     1
Feb-2005     1
Aug-1997     1
Aug-1974     1
Nov-1985     1
Dec-1983     1
Sep-2001     1
Jul-1976     1
Jan-1990     1
Feb-1997     1
Jan-1987     1
Jan-2004     1
May-1997     1
May-1977     1
Dec-1992     1
Dec-1990     1
Jan-1971     1
Aug-1985     1
Apr-1981     1
Feb-1985     1
Jul-1987     1
Oct-1969     1
Nov-1994     1
Apr-1989     1
Jun-1981     1
Nov-1989     1
Name: earliest_cr_line, Length: 5537, dtype: int64
Apr-1964      3
Apr-1966      1
Apr-1967      4
Apr-1968      1
Apr-1969      1
Apr-1970      3
Apr-1971      6
Apr-1972      2
Apr-1973      7
Apr-1974      6
Apr-1975     11
Apr-1976      7
Apr-1977     10
Apr-1978     14
Apr-1979     15
Apr-1980     17
Apr-1981     15
Apr-1982     23
Apr-1983     29
Apr-1984     27
Apr-1985     31
Apr-1986     29
Apr-1987     48
Apr-1988     55
Apr-1989     64
Apr-1990     79
Apr-1991     77
Apr-1992     90
Apr-1993    100
Apr-1994    134
           ...
Sep-1979     20
Sep-1980     18
Sep-1981     28
Sep-1982     16
Sep-1983     33
Sep-1984     46
Sep-1985     41
Sep-1986     59
Sep-1987     59
Sep-1988     63
Sep-1989     83
Sep-1990     93
Sep-1991     70
Sep-1992     72
Sep-1993    124
Sep-1994    119
Sep-1995    181
Sep-1996    187
Sep-1997    196
Sep-1998    267
Sep-1999    277
Sep-2000    325
Sep-2001    282
Sep-2002    251
Sep-2003    220
Sep-2004    221
Sep-2005    162
Sep-2006    150
Sep-2007     63
Sep-2008      8
Name: earliest_cr_line, Length: 530, dtype: int64
0%       26
74.9%    12
78.7%    11
66.5%    11
93.1%    10
69.5%    10
66.9%    10
55.5%     9
69.3%     9
81.5%     9
66.6%     9
70.3%     9
70.8%     9
82.7%     9
61%       9
60.1%     9
73.2%     9
89.1%     9
81.3%     9
89.8%     9
80.3%     8
70.2%     8
92.5%     8
80.8%     8
69.4%     8
95.9%     8
75.5%     8
93.9%     8
65.2%     8
91%       8
         ..
78.1%     1
16.7%     1
59.6%     1
52.8%     1
60.8%     1
54.2%     1
27.4%     1
81.1%     1
92.5%     1
15.1%     1
46.6%     1
79%       1
77%       1
32.7%     1
80%       1
24.7%     1
98.5%     1
94.6%     1
0.4%      1
82.4%     1
73.8%     1
66.9%     1
81.8%     1
35.5%     1
38.1%     1
19%       1
70.1%     1
60%       1
96.7%     1
20.8%     1
Name: revol_util, Length: 13590, dtype: int64
0%       1070
0.01%       1
0.03%       1
0.04%       1
0.05%       1
0.1%       61
0.12%       1
0.16%       1
0.2%       64
0.3%       43
0.4%       45
0.46%       1
0.49%       1
0.5%       49
0.54%       1
0.6%       39
0.7%       47
0.75%       1
0.8%       43
0.83%       1
0.86%       1
0.9%       41
1%         51
1.1%       39
1.2%       37
1.3%       36
1.4%       32
1.5%       33
1.6%       24
1.7%       30
         ...
97%        31
97.1%      39
97.2%      32
97.3%      36
97.4%      33
97.5%      35
97.6%      35
97.7%      45
97.8%      38
97.9%      27
98%        28
98.1%      25
98.2%      25
98.3%      36
98.4%      31
98.5%      29
98.6%      36
98.7%      27
98.8%      38
98.9%      20
99%        35
99.1%      33
99.2%      22
99.3%      32
99.4%      24
99.5%      24
99.6%      27
99.7%      32
99.8%      25
99.9%      29
Name: revol_util, Length: 1119, dtype: int64
f    3000
f    3000
f    3000
f    3000
f    3000
f    3000
f    3000
f    3000
f    3000
f    3000
f    3000
f    3000
f    3000
f    2999
f     536
Name: initial_list_status, dtype: int64
f    42535
Name: initial_list_status, dtype: int64
initial_list_status 1
Dec-2014    660
Jan-2015    182
Dec-2016    142
Feb-2014     69
Oct-2014     67
Jun-2014     60
May-2014     60
Sep-2013     60
Jul-2014     58
Mar-2014     57
Oct-2013     57
Aug-2012     56
Nov-2013     55
Apr-2014     55
Oct-2012     55
Dec-2012     53
Dec-2013     53
Mar-2013     52
Aug-2014     50
Jun-2013     50
Apr-2013     50
Jan-2014     50
May-2013     50
Aug-2013     47
Jul-2013     47
Sep-2014     47
Feb-2013     44
Nov-2014     44
Sep-2012     43
Nov-2012     41
           ...
Jan-2009     12
Apr-2009     11
Jul-2008     11
Aug-2008     11
May-2010     11
May-2008     11
Mar-2010     10
Feb-2010      9
May-2009      8
Apr-2010      8
Jan-2010      8
Apr-2008      7
Feb-2008      7
Jun-2009      7
Jan-2008      7
Oct-2009      6
Jul-2009      6
Dec-2008      6
Jun-2008      5
Sep-2009      5
Aug-2009      5
Dec-2009      4
Mar-2011      4
Nov-2009      4
Apr-2011      3
Dec-2007      2
Jun-2011      1
Mar-2013      1
Aug-2011      1
Jul-2011      1
Name: last_pymnt_d, Length: 941, dtype: int64
Apr-2008     23
Apr-2009     72
Apr-2010    145
Apr-2011    519
Apr-2012    781
Apr-2013    890
Apr-2014    682
Apr-2015    141
Apr-2016    177
Apr-2017      1
Aug-2008     31
Aug-2009     66
Aug-2010    198
Aug-2011    479
Aug-2012    868
Aug-2013    744
Aug-2014    836
Aug-2015    217
Aug-2016    154
Dec-2007      2
Dec-2008     31
Dec-2009    116
Dec-2010    332
Dec-2011    585
Dec-2012    732
Dec-2013    799
Dec-2014    949
Dec-2015    185
Dec-2016    177
Feb-2008      8
           ...
May-2014    686
May-2015    151
May-2016    193
Nov-2008     31
Nov-2009     80
Nov-2010    258
Nov-2011    487
Nov-2012    782
Nov-2013    701
Nov-2014    593
Nov-2015    231
Nov-2016    142
Oct-2008     55
Oct-2009     85
Oct-2010    292
Oct-2011    482
Oct-2012    853
Oct-2013    712
Oct-2014    813
Oct-2015    200
Oct-2016    164
Sep-2008     40
Sep-2009     55
Sep-2010    215
Sep-2011    491
Sep-2012    802
Sep-2013    712
Sep-2014    694
Sep-2015    211
Sep-2016    169
Name: last_pymnt_d, Length: 112, dtype: int64
Jul-2019    628
Oct-2016    352
Dec-2014    194
May-2019     81
Dec-2016     74
Jun-2019     70
Apr-2019     60
Jan-2019     58
Feb-2017     57
Aug-2018     55
Feb-2019     52
Jul-2018     45
Oct-2018     43
Aug-2017     42
Mar-2019     39
Dec-2018     37
Nov-2017     37
May-2018     36
Nov-2018     33
Feb-2018     31
Jan-2015     30
Oct-2017     29
Mar-2018     27
Jun-2018     25
Apr-2018     25
Nov-2016     24
Sep-2018     24
Apr-2017     23
Sep-2017     23
Jan-2018     22
           ...
Jun-2009      1
Apr-2015      1
Jan-2008      1
Apr-2016      1
Dec-2014      1
Dec-2017      1
Mar-2011      1
Aug-2015      1
Jul-2015      1
Sep-2011      1
Oct-2013      1
Aug-2011      1
Dec-2011      1
Sep-2008      1
Feb-2012      1
Sep-2015      1
Jun-2015      1
Mar-2013      1
Apr-2011      1
Mar-2014      1
Jul-2014      1
Mar-2009      1
May-2009      1
Jan-2015      1
Jul-2017      1
Dec-2015      1
Sep-2012      1
May-2016      1
Dec-2007      1
Jan-2016      1
Name: last_credit_pull_d, Length: 1613, dtype: int64
Apr-2009      21
Apr-2010      42
Apr-2011     112
Apr-2012     224
Apr-2013     270
Apr-2014     288
Apr-2015     166
Apr-2016     271
Apr-2017     232
Apr-2018     340
Apr-2019     746
Aug-2007      17
Aug-2008      11
Aug-2009      20
Aug-2010      51
Aug-2011     181
Aug-2012     233
Aug-2013     216
Aug-2014     298
Aug-2015     189
Aug-2016     213
Aug-2017     320
Aug-2018     659
Dec-2007       2
Dec-2008       6
Dec-2009      35
Dec-2010     103
Dec-2011     155
Dec-2012     221
Dec-2013     232
            ...
Nov-2013     281
Nov-2014     243
Nov-2015     197
Nov-2016     275
Nov-2017     333
Nov-2018     499
Oct-2007       3
Oct-2008      11
Oct-2009      24
Oct-2010      75
Oct-2011     111
Oct-2012     206
Oct-2013     243
Oct-2014     304
Oct-2015     210
Oct-2016    3841
Oct-2017     350
Oct-2018     558
Sep-2007       4
Sep-2008       7
Sep-2009      13
Sep-2010      76
Sep-2011     107
Sep-2012     257
Sep-2013     233
Sep-2014     322
Sep-2015     214
Sep-2016     157
Sep-2017     285
Sep-2018     419
Name: last_credit_pull_d, Length: 144, dtype: int64
Individual    3000
Individual    3000
Individual    3000
Individual    3000
Individual    3000
Individual    3000
Individual    3000
Individual    3000
Individual    3000
Individual    3000
Individual    3000
Individual    3000
Individual    3000
Individual    2999
Individual     536
Name: application_type, dtype: int64
Individual    42535
Name: application_type, dtype: int64
application_type 1
Loans that do not meet the credit policy           1
Total amount funded in policy code 2: 0            1
Total amount funded in policy code 1: 460296150    1
Name: id, dtype: int64
Loans that do not meet the credit policy           1
Total amount funded in policy code 1: 460296150    1
Total amount funded in policy code 2: 0            1
Name: id, dtype: int64
id 3

In [259]:
unique_value_counts_chuncks

{'term': 2,
 'int_rate': 394,
 'grade': 7,
 'sub_grade': 35,
 'emp_title': 30658,
 'emp_length': 11,
 'home_ownership': 5,
 'verification_status': 3,
 'issue_d': 55,
 'loan_status': 4,
 'pymnt_plan': 1,
 'purpose': 14,
 'title': 21264,
 'zip_code': 837,
 'addr_state': 50,
 'earliest_cr_line': 530,
 'revol_util': 1119,
 'initial_list_status': 1,
 'last_pymnt_d': 112,
 'last_credit_pull_d': 144,
 'application_type': 1,
 'id': 3}

Excepting the fact that I have quite a few more columns (the full 21 string colums), the code output matches, so dq must be using a slightly different starting dataset.